.coinContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-bottom: 2px solid #EAEAEA;
}
.coinContainer p {
    color: #6D6D6D;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.coinName{
    text-transform: capitalize;
    font-weight: 600;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
    cursor: pointer;
}
.coinName .coinImage {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

/* 
.coinSymbol {
    width: 30px;
}

.coinCurrentPrice{
    width: 80px;
}

.coinChangePrice24h {
    width: 30px;
}

.coinMarketCap{
    width: 120px;   
} */

.redChangePrice {
    color: #d30000!important;
}
.greenChangePrice {
    color: green!important;
}

.coinButtons {
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.coinButtons a {
    border: 1px solid #5896F3;
    padding: 7px 14px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    color: #5896F3;
    transition: all .3s ease-in-out;
}

.coinButtons .coinTradeBtn{
    border-color: #858585;
    color: #858585;
    margin-left: 10px;
}


.coinButtons .coinBuyBtn:hover {
    background-color: #5896F3;
    color: #FFF;
}

.coinButtons .coinTradeBtn:hover {
    background-color: #858585;
    color: #FFF;
}



@media (max-width: 1600px) {
    .coinContainer .coinMarketCap {
        display: none;
    }

    .coinButtons .coinTradeBtn{
        margin-left: 5px;
    }

}

@media (max-width: 1200px) {
    .coinContainer .coinHighChange , .coinContainer .coinLowChange {
        display: none;
    }

    .coinButtons .coinTradeBtn{
        margin-left: 5px;
    }

}

@media (max-width: 840px) {
    .coinContainer .coinHighChange , .coinContainer .coinLowChange {
        display: none;
    }

    .coinButtons .coinTradeBtn{
        margin-left: 5px;
        display: none;
    }

    .coinContainer .coinButtons {
        width: 90px;
    }
}

@media (max-width: 520px) {
    .coinButtons{
        display: none;
    }
}
