.headerContainer{
    height: 70vh;
    width: 100%;
    background-image: url(../images/backgroundHeader.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.titleContainer {
    margin-top: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer .title {
    margin-top: 40px;
    width: 700px;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    text-align: center;

}

.titleContainer .title span{
    background: -webkit-linear-gradient(270deg, #2c9cf8 0%, #2676ee 100%);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.titleContainer .cryptoMarketTitle {
    margin-top: 30px;
    color: #818182;
}
.titleContainer .cryptoMarketTitle span {
    color: #666666;
    font-weight: 600;
}





@media (max-width: 1460px) {

    .titleContainer {
        margin-top: 110px;
    }

	.titleContainer .title {
        width: 500px;
        font-size: 35px;
    }

}




@media (max-width: 830px) {
	
    .titleContainer {
        margin-top: 80px;
    }

    .titleContainer .title {
        width: 400px;
        font-size: 30px
    }
    .titleContainer .cryptoMarketTitle {
        margin-top: 30px;
        font-size: .9rem;
    }
}



@media (max-width: 520px) {

    .titleContainer {
        margin-top: 30px;
    }
	
    .titleContainer .title {
        width: 400px;
        font-size: 25px;
    }
    .titleContainer .cryptoMarketTitle {
        margin-top: 15px;
        font-size: .8rem;
    }
}


@media (max-width: 460px) {
	
    .titleContainer .title {
        width: 350px;
        font-size: 23px;
    }
}