.MainContainer{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coinsContainer {
    height: fit-content;
    width: 70vw;
    background-color: #FFFFFF;
    /* border: 1px solid #c0c0c0; */
    border-radius: 10px;
}

.thTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px;
    border-bottom: 2px solid #EAEAEA;
    color: #6F6F6F ;
}

.thTop p {
    display: flex;
    align-items: center;
    width: 120px;
    justify-content: center;
}

.thTop p svg {
    transform: rotate(90deg);
    margin-left: 2px;
    font-size: 1rem;
    cursor: pointer;
}

.coinActions {
    width: 130px;
    text-align: center;
}





@media (max-width: 1600px) {
    .thTop .coinMarketCap {
        display: none;
    }
    .coinsContainer {
        width: 80vw;
    }
    
}


@media (max-width: 1200px) {
    .thTop .coinHighChange, .thTop .coinLowChange {
        display: none;
    }
    .coinsContainer {
        width: 90vw;
    }
}

@media (max-width: 840px) {
    .coinsContainer {
        width: 95vw;
    }
    .thTop{
        padding: 25px 5px;
    }
    
    .thTop p:last-child {
        width: 90px;
    }

}


@media (max-width: 520px) {
    /* .thTop p:nth-child(4) {
        width: 80px;
    } */
    .thTop p:last-child {
        display: none;
    }
    .MainContainer{
        margin-top: 300px;
    }
}


@media (max-width: 440px) {
    .thTop p:nth-child(4) {
        width: 80px;
    }

}

@media (max-width: 380px) {
    .MainContainer{
        margin-top: 400px;
    }
}