.suggestsContainer{
    width: 100%;
    /* display: flex; */
    padding-top: 5px;
    /* justify-content: space-around; */
}

.suggestsContent {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}



.suggest div{
    display: flex;
    align-items: center;
    width: 250px;
}

.headerSuggest {
    cursor: pointer;
}

.suggest .headerSuggest .nameSuggest {
    margin: 0 5px;
    color: #222222;
    font-weight: 600;
}
.suggest .headerSuggest .titleSuggest {
    font-weight: 600;
    color: #7D7D7D;
    
}

.suggest .mainSuggest {
    margin: 5px 0;
}
.suggest .mainSuggest p{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.suggest .mainSuggest .usdSuggest {
    margin-right: 5px;
}

.suggest .footerSuggest p{
    color: #828282;
    font-size: .8rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.suggest .footerSuggest .timeSuggest {
    margin-right: 5px;
    padding-right: 5px;
    border-right: 2px solid #DDDDDD;
}

.suggest .footerSuggest .changesSuggest {
    display: flex;
    align-items: center;
}
.suggest .footerSuggest .changesSuggest .greenChange{
    border: 1px solid #5BD18A;
    background-color: #ECFFF3;
    color: #54CF85;
    padding: 3px 5px 3px 1px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: .8rem;
}

.suggest .footerSuggest .changesSuggest .redChange{
    border: 1px solid #F57169!important;
    background-color: #FFF2F2!important;
    color: #F57169!important;
    padding: 3px 5px 3px 1px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    font-size: .8rem;
}

.suggest .footerSuggest .changesSuggest span svg {
    font-size: 1.2rem;
}



@media (max-width: 1544px) {
    /* .suggestsContainer{
        grid-template-rows: 40% 40%;
        gap: 5% 4%;  
        
    }
    .suggestsContent {
        display: grid;
        grid-template-columns: 50% 50%;
        
    } */

    .suggest{
        margin-bottom: 20px
    }
}